<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Edit Group</h3>
  </div>
  <%= render 'form', group: @group %>
</div>


<%= link_to 'Show', @group %> |
<%= link_to 'Back', groups_path %>
