<h1>Welcome <%= "#{current_user.first_name} "  if current_user%></h1>
<div class="jumbotron">
  <h1 class="display-3">Split-Cash</h1>
  <p class="lead">Split-Cash, is a cash management application for the group.</p>
  <hr class="m-y-2"/>
  <p class="lead">To get started, explore the user friendly page.</p>
  <p class="lead">If you need help, please feel free to reach out to us.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="mailto:help@split-cash.com">Write us</a>
  </p>
</div>
