body {
  background-color: rgb(25,31,34) !important;
  color: #bbb !important;
}

.jumbotron {
  color: rgb(25,31,34);
}

.center {
  text-align: center;
}

a.undecorated_link  {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

a.undecorated_link:hover{
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}
